## Libraries

In [1]:
import pandas as pd
import numpy as np

## Analyse exploratoire

In [4]:
df = pd.read_csv("vehicles.csv")

In [5]:
# Afficher les cinq premières lignes du df
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [6]:
# Afficher les cinq dernières lignes du df
df.tail()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
426875,7301591192,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,23590,2019.0,nissan,maxima s sedan 4d,good,6 cylinders,...,NaN,sedan,NaN,https://images.craigslist.org/00o0o_iiraFnHg8q...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:31-0600
426876,7301591187,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2020.0,volvo,s60 t5 momentum sedan 4d,good,NaN,...,NaN,sedan,red,https://images.craigslist.org/00x0x_15sbgnxCIS...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:29-0600
426877,7301591147,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,34990,2020.0,cadillac,xt4 sport suv 4d,good,NaN,...,NaN,hatchback,white,https://images.craigslist.org/00L0L_farM7bxnxR...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:17-0600
426878,7301591140,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,28990,2018.0,lexus,es 350 sedan 4d,good,6 cylinders,...,NaN,sedan,silver,https://images.craigslist.org/00z0z_bKnIVGLkDT...,Carvana is the safer way to buy a car During t...,NaN,wy,33.786500,-84.445400,2021-04-04T03:21:11-0600
426879,7301591129,https://wyoming.craigslist.org/ctd/d/atlanta-2...,wyoming,https://wyoming.craigslist.org,30590,2019.0,bmw,4 series 430i gran coupe,good,NaN,...,NaN,coupe,NaN,https://images.craigslist.org/00Y0Y_lEUocjyRxa...,Carvana is the safer way to buy a car During t...,NaN,wy,33.779214,-84.411811,2021-04-04T03:21:07-0600

In [7]:
# Affciher les lignes du df, aléatoirement
df.sample(n=10)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
202903,7304080809,https://grandrapids.craigslist.org/ctd/d/flint...,grand rapids,https://grandrapids.craigslist.org,39995,2018.0,gmc,sierra 2500hd,good,8 cylinders,...,full-size,truck,red,https://images.craigslist.org/00n0n_ay0QIQ5Ooq...,"2018 GMC Sierra 2500HD SLT Crew Cab 4WD - $39,...",NaN,mi,43.050600,-83.615120,2021-04-09T08:38:54-0400
343362,7306168810,https://providence.craigslist.org/cto/d/narrag...,rhode island,https://providence.craigslist.org,47900,2012.0,porsche,NaN,excellent,6 cylinders,...,compact,coupe,black,https://images.craigslist.org/01717_jDeqO6lHHn...,"2012 Cayman S Black edition, Porsche Certified...",NaN,ri,41.435300,-71.461600,2021-04-13T11:35:28-0400
29750,7304008029,https://imperial.craigslist.org/ctd/d/tempe-20...,imperial county,https://imperial.craigslist.org,42995,2017.0,ford,f-150 lifted supercrew xlt 4x4 v6 twin turbo f...,NaN,6 cylinders,...,NaN,pickup,white,https://images.craigslist.org/00c0c_kHIDFyI4ew...,2017 Ford F-150 LIFTED SUPERCREW XLT 4X4 V6 T...,NaN,ca,33.391700,-111.924900,2021-04-08T20:17:09-0700
206153,7309279939,https://lansing.craigslist.org/ctd/d/chelsea-3...,lansing,https://lansing.craigslist.org,19485,2011.0,ford,f-150 lariat 4wd!crew cab,excellent,6 cylinders,...,NaN,truck,NaN,https://images.craigslist.org/00707_bfDAmGcLkC...,$310/mo - 2011 Ford F150 F 150 F-150 Lariat 4W...,NaN,mi,42.300673,-84.024108,2021-04-19T12:03:14-0400
351830,7313725859,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,12995,2014.0,ford,transit connect xl cargo,excellent,4 cylinders,...,mid-size,van,white,https://images.craigslist.org/01010_aZexW8akcO...,"2014 Ford Transit Connect XL Cargo Van, 4 cyli...",NaN,tn,35.064059,-85.143099,2021-04-28T05:26:12-0400
410804,7317013904,https://wenatchee.craigslist.org/ctd/d/post-fa...,wenatchee,https://wenatchee.craigslist.org,32587,2017.0,ram,1500 slt,good,NaN,...,NaN,pickup,silver,https://images.craigslist.org/01212_U0qZzmIIUh...,Stock # CH290 509-537-3518 - Call Tyler for...,NaN,wa,47.713556,-116.917950,2021-05-04T16:30:59-0700
111793,7316336360,https://miami.craigslist.org/mdc/cto/d/miami-2...,south florida,https://miami.craigslist.org,20000,2013.0,NaN,hino,NaN,6 cylinders,...,NaN,NaN,blue,https://images.craigslist.org/00q0q_lzTG2bU45u...,"Great condition Runs perfect 400,000 Miles 2 ...",NaN,fl,25.762000,-80.360000,2021-05-03T14:30:36-0400
167156,7313433879,https://lawrence.craigslist.org/ctd/d/fort-ril...,lawrence,https://lawrence.craigslist.org,7495,2011.0,ford,crown victoria,NaN,8 cylinders,...,NaN,sedan,custom,https://images.craigslist.org/01010_f8MU0Y9PBE...,Se Habla Español! This GORGEOUS Ford Crown Vic...,NaN,ks,39.029900,-96.839600,2021-04-27T13:03:13-0500
310164,7305852196,https://tulsa.craigslist.org/ctd/d/sapulpa-200...,tulsa,https://tulsa.craigslist.org,7988,2008.0,toyota,rav4,NaN,NaN,...,NaN,wagon,silver,https://images.craigslist.org/00n0n_5fJzHk2aAk...,2008 Toyota RAV4 Limited 4dr SUV Offered b...,NaN,ok,36.007240,-96.098400,2021-04-12T15:52:16-0500
49287,7314888182,https://reno.craigslist.org/ctd/d/reno-2019-fo...,reno / tahoe,https://reno.craigslist.org,0,2019.0,ford,super duty f-350,excellent,8 cylinders,...,full-size,truck,white,https://images.craigslist.org/00C0C_52kSGKaUPY...,Future Ford of Roseville Call Us 📞 (916) 790-...,NaN,ca,39.498000,-119.823900,2021-04-30T10:15:40-0700

In [21]:
# Dimension du df c-a-d le nombre de lignes et colonnes
df.shape

(426880, 26)

In [23]:
# Nombre de colonnes dans df
df.columns

Index(['id', 'url', 'region', 'region_url', 'price', 'year', 'manufacturer',
       'model', 'condition', 'cylinders', 'fuel', 'odometer', 'title_status',
       'transmission', 'VIN', 'drive', 'size', 'type', 'paint_color',
       'image_url', 'description', 'county', 'state', 'lat', 'long',
       'posting_date'],
      dtype='object')

In [8]:
# Le type de données de chaque colonne du df
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

La commande ci-dessous, nous me permet d'avoir des informations sur le dataset comme le type de données et le nombre total des valeurs non nulles dans chaque colonne.

Cela nous permet didentifier les valeurs manquantes et les types de données incorrectes

In [9]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426880 entries, 0 to 426879
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            426880 non-null  int64
 1   url           426880 non-null  object
 2   region        426880 non-null  object
 3   region_url    426880 non-null  object
 4   price         426880 non-null  int64
 5   year          425675 non-null  float64
 6   manufacturer  409234 non-null  object
 7   model         421603 non-null  object
 8   condition     252776 non-null  object
 9   cylinders     249202 non-null  object
 10  fuel          423867 non-null  object
 11  odometer      422480 non-null  float64
 12  title_status  418638 non-null  object
 13  transmission  424324 non-null  object
 14  VIN           265838 non-null  object
 15  drive         296313 non-null  object
 16  size          120519 non-null  object
 17  type          334022 non-null  object
 18  paint_color   296677 non-null  object
 19  image_url     426812 non-null  object
 20  description   426810 non-null  object
 21  county        0 non-null       float64
 22  state         426880 non-null  object
 23  lat           420331 non-null  float64
 24  long          420331 non-null  float64
 25  posting_date  426812 non-null  object
dtypes: float64(5), int64(2), object(19)
memory usage: 84.7+ MB

In [10]:
#Statistiques descriptives pour les colonnes numériques (moyenne, écart-type, min, max, quartiles)
df.describe()

,id,price,year,odometer,county,lat,long
count,4.268800e+05,4.268800e+05,425675.000000,4.224800e+05,0.0,420331.000000,420331.000000
mean,7.311487e+09,7.519903e+04,2011.235191,9.804333e+04,NaN,38.493940,-94.748599
std,4.473170e+06,1.218228e+07,9.452120,2.138815e+05,NaN,5.841533,18.365462
min,7.207408e+09,0.000000e+00,1900.000000,0.000000e+00,NaN,-84.122245,-159.827728
25%,7.308143e+09,5.900000e+03,2008.000000,3.770400e+04,NaN,34.601900,-111.939847
50%,7.312621e+09,1.395000e+04,2013.000000,8.554800e+04,NaN,39.150100,-88.432600
75%,7.315254e+09,2.648575e+04,2017.000000,1.335425e+05,NaN,42.398900,-80.832039
max,7.317101e+09,3.736929e+09,2022.000000,1.000000e+07,NaN,82.390818,173.885502

In [11]:
# Statistiques descriptives pour des colonnes catégorielles (nombre de valeurs uniques, fréquence des plus courantes).
df.describe(include='object')

,url,region,region_url,manufacturer,model,condition,cylinders,fuel,title_status,transmission,VIN,drive,size,type,paint_color,image_url,description,state,posting_date
count,426880,426880,426880,409234,421603,252776,249202,423867,418638,424324,265838,296313,120519,334022,296677,426812,426810,426880,426812
unique,426880,404,413,42,29667,6,8,5,6,3,118264,3,4,13,12,241899,360911,51,381536
top,https://prescott.craigslist.org/cto/d/prescott...,columbus,https://spokane.craigslist.org,ford,f-150,good,6 cylinders,gas,clean,automatic,1FMJU1JT1HEA52352,4wd,full-size,sedan,white,https://images.craigslist.org/00N0N_1xMPvfxRAI...,35 VEHICLES PRICED UNDER $3000!!! BIG TIME! T...,ca,2021-04-23T22:13:05-0400
freq,1,3608,2988,70985,8009,121456,94169,356209,405117,336524,261,131904,63465,87056,79285,7357,231,50614,12

## Nettoyage

### Gestion des valeurs manquantes

### Correction des types de données

### Gestion des doublons

## Axes d'analyse & Visualisation

## Vectorisation